{% extends 'admin/base.html.twig' %}
{% block body %}
	<h3 class="mt-2 mb-1">Categories</h3>
	
	<div>
		{% for message in app.flashes('notice') %}
   			<div class="flash-notice">
    			{{ message }}
   				</div>
   		{% endfor %}
	</div>

	<div class="admin-article__form">
		<table class="categories-table">
			<thead>
				<tr>
					<td class="pe-2">
						Category name
					</td>
					<td class="txt-center">
						Operations
					</td>
				</tr>
			</thead>

			<tbody>
				{% for category in categories %}
					<tr class="category-row" data-category="{{ category.name }}" data-id="{{ category.id }}">
						<td class="pt-1">
							{{ category.name }}
						</td>
						<td class="pt-1">
							<button class="actionButton btn-admin btn-admin__primary me-1">Edit</button>
							<a class="btn-admin btn-admin__secondary" href="{{ path('category-delete', { 'id': category.id }) }}">Delete</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div>
		<h4 class="mt-3">New category</h4>
		{{ form(catForm) }}
		</div>

		<div id="modal" class="modal">
			<div class="modal-content">
				<p class="txt-center">Enter category name</p>
				<small class="txt-center" id="modal-error"></small>
				<input id="category-input" name="category" class="txt-center" value="" maxlength="20" required>
				<div class="mt-2 txt-center">
					<button id="ok-button" class="btn-admin btn-admin__secondary me-1">OK</button>
					<button id="cancel-button" class="btn-admin btn-admin__primary">Cancel</button>
				</div>

			</div>
		</div>

	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('modal') }}
	{% endblock %}
